<h1>Crea una nueva contraseña para {{email}}</h1>

<form action="" id="reset-pass-form">
    <label for="1st">Ingresa la nueva contraseña</label>
    <input type="password" name="1st" id="1st">

    <label for="2nd">Repite la nueva contraseña</label>
    <input type="password" name="2nd" id="2nd">

    <button type="submit">Crear nueva contraseña</button>
</form>
<div id="login">

</div>

<script>
    const loginContainer= document.getElementById("login")
    const resetPasswordForm = document.getElementById("reset-pass-form");
    resetPasswordForm.addEventListener("submit", (e) => {
        e.preventDefault();
        const firstField = document.getElementById("1st");
        const secondField = document.getElementById("2nd");
        const firstValue = firstField.value;

        if (firstField.value !== secondField.value) {
            alert("Las contraseñas no coinciden");
        } else {
            const requestBody = { password: firstValue }; 

            fetch("/api/sessions/updatePassword", {
                method: "PUT",
                headers: { 'Content-Type': 'application/json' }, 
                body: JSON.stringify(requestBody)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Error al actualizar la contraseña");
                    }
                    return response.json();
                })
                .then(data => {
                    console.log(data);
                    alert("Contraseña actualizada correctamente");
                    loginContainer.innerHTML=`<a href="/api/sessions/login">vuelve a iniciar session</a>`
                })
                .catch(error => {
                    console.log(error);
                    alert("Error en la solicitud");
                });
        }
    });
</script>
