<div class="container-fluid bg-dark" style="color:white">
    <h1 >informacion del usuario </h1>
</div>

<div class="container-fluid">
    <p><strong>Nombre:</strong> {{user.first_name}} {{user.last_name}}</p>
    <p><strong>Email:</strong> {{user.email}}</p>
    <p><strong>Rol:</strong>  {{user.role}}</p>
</div>
<div class="container-fluid">
   <form action="#" method="post">
    <button type="submit">cambiar a premium</button>
   </form>
</div>